.button {
  background: radial-gradient(
    101.81% 2695.23% at 3.44% 23.64%,
    #351d3f 0%,
    rgba(53, 29, 63, 0) 100%
  );
  border-radius: 60px;
  max-width: 276px;
  width: 100%;
  font-size: 20px;
  line-height: 23px;
  padding: 18px;
  border: none;
  transition: 0.5s;
}
.button:hover {
  background-color: antiquewhite;
  transition: 0.5s;
  color: radial-gradient(
    101.81% 2695.23% at 3.44% 23.64%,
    #351d3f 0%,
    rgba(53, 29, 63, 0) 100%
  );
}
