.main__title {
  margin-top: 100px;
  margin-bottom: 65px;
  font-size: 25px;
}

.main__content {
  display: flex;
  overflow-x: auto;
  // flex-wrap: wrap;
}
.main__content::-webkit-scrollbar {
  display: none;
}
.card {
  margin-right: 90px;
}
