.main__title {
  margin-top: 100px;
  margin-bottom: 65px;
}

.main__content {
  display: flex;
  justify-content: space-between;
  //   overflow-x: auto;
  flex-wrap: wrap;
}
// .main__content::-webkit-scrollbar {
//   display: none;
// }
// .card {
//   margin-right: 30px;
// }
