.search-bar {
    max-width: 505px;
    width: 100%;
    border-radius: 30px;
    font-size: 19px;
    position: relative;
    color: black;
    padding: 10px 0 10px 50px;
    outline: none;
    border: none;
}

.search-drop-down {
    max-width: 505px;
    width: 100%;
    background-color: white;
    margin-top: 3px;
    border-radius: 15px;
    position: absolute;
}
.items-list, .items-list > a {
    color: black;
    padding: 10px;
    font-size: 18px;
}
i.fa.fa-search {
    position: absolute;
    margin-top: -40px;
    margin-left: 12px;
    font-size: 31px;
}