.search-bar {
    max-width: 505px;
    width: 100%;
    border-radius: 30px;
    padding-left: 50px;
    font-size: 19px;
    position: relative;
    color: black;
    box-shadow: 0px 1px 20px 1px #8d6e98;
}

.search-drop-down {
    max-width: 505px;
    width: 100%;
    background-color: white;
    margin-top: 3px;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0px 4px 20px 2px #8d6e98;
}
.items-list, .items-list > a {
    color: black;
    padding: 10px;
    font-size: 18px;
}
i.fa.fa-search {
    position: absolute;
    margin-top: -40px;
    margin-left: 12px;
    font-size: 31px;
}