.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin: 20px 0;
    }
    &__list {
        display: flex;
        gap: 71px;

        &-link {
            font-size: 20px;
            line-height: 23px;
            margin-top: 10px;
        }
    }
    #my-profile {
        cursor: pointer;
    }
    
}