.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin: 20px 0;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 71px;

        &-link {
            font-size: 20px;
            line-height: 23px;
        }

        &-icon {
            font-size: 40px;
        }
    }
}