.ellipse1 {
  width: 283px;
  height: 283px;
  left: 334px;
  top: 167px;

  background: #960099;
  filter: blur(190px);
}
.ellipse2 {
  position: absolute;
  width: 283px;
  height: 283px;
  left: 1361px;
  top: 299px;

  background: #a084aa;
  filter: blur(190px);
}
.ellipse3 {
  position: absolute;
  width: 283px;
  height: 283px;
  left: 732px;
  top: 638px;

  background: #8300b9;
  filter: blur(190px);
}

.register2 {
  display: block;
  /* align-items: center;s */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 517px;
  height: 763px;
  background: #ddd1d1;
  border: 10px solid #301b39;
  /* filter: blur(10px); */
  border-radius: 148px;
}
p {
  display: flex;
  justify-content: center;
  /* margin-bottom: 50px; */
}
img {
  width: 237px;
  height: 142px;
  left: 841px;
  top: 204px;
}

.inp {
  box-sizing: border-box;
  align-items: center;
  /* position: absolute; */
  width: 330px;
  height: 59px;
  background: #d9d9d9;
  border: 1px solid #301a38;
  border-radius: 36px;
}
.btn {
  width: 256px;
  height: 55px;
  background: #351d3f;
  border-radius: 60px;
  text-align: center;
}
